<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - BaNaNaS - OpenTTD</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/page.css" />
    <link rel="stylesheet" href="/static/css/bananas.css" />
</head>
<body>
<header id="header">
    <div id="header-left"></div>
    <div id="header-right"></div>
    <div id="header-logo">
        <div id="openttd-logo">
            <div id="openttd-logo-text-bananas"><a href="/"><img src="/static/img/openttd-logo-bananas.png" alt="BaNaNaS"></a></div>
        </div>
    </div>
</header>
<nav id="navigation">
    <div id="navigation-left"></div>
    <div id="navigation-right"></div>
    <ul id="navigation-bar">
        <li {% if selected_nav == "bananas" %}class="selected"{% endif %}><a href="/">BaNaNaS</a></li>
        <li {% if selected_nav == "base-graphics" %}class="selected"{% endif %}><a href="/package/base-graphics">Base-Graphics</a></li>
        <li {% if selected_nav == "base-sounds" %}class="selected"{% endif %}><a href="/package/base-sounds">Base-Sounds</a></li>
        <li {% if selected_nav == "base-music" %}class="selected"{% endif %}><a href="/package/base-music">Base-Music</a></li>
        <li {% if selected_nav == "newgrf" %}class="selected"{% endif %}><a href="/package/newgrf">NewGRFs</a></li>
        <li {% if selected_nav == "ai" %}class="selected"{% endif %}><a href="/package/ai">AIs</a></li>
        <li {% if selected_nav == "ai-library" %}class="selected"{% endif %}><a href="/package/ai-library">AI-Libraries</a></li>
        <li {% if selected_nav == "game-script" %}class="selected"{% endif %}><a href="/package/game-script">Game-Scripts</a></li>
        <li {% if selected_nav == "game-script-library" %}class="selected"{% endif %}><a href="/package/game-script-library">Game-Script-Libraries</a></li>
        <li {% if selected_nav == "scenario" %}class="selected"{% endif %}><a href="/package/scenario">Scenarios</a></li>
        <li {% if selected_nav == "heightmap" %}class="selected"{% endif %}><a href="/package/heightmap">Heightmaps</a></li>
        <li {% if selected_nav == "manager" %}class="selected"{% endif %}><a href="/manager">Manager</a></li>
        {% if session and session.is_auth %}
        <li>{{ session.display_name }}</li>
        <li><a href="/logout">Logout</a></li>
        {% endif %}
        </li>
    </ul>
</nav>
<div id="content-main">
<div id="section-full">
<header class="section-header">
{% block header %}{% endblock %}
</header>
<main class="section-item">
<div class="content">
{% if messages %}
<ul id="system-notices">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}{% endblock %}
</div>
</main>
</div>
</div>
<footer id="footer">
    <div id="content-bottom-links">
        <a href="https://www.openttd.org/policy.html">Privacy Policy</a>
    </div>
    <div id="content-bottom-copyright">
        Copyright &copy; 2005-{{ copyyear }} OpenTTD Team
    </div>
</footer>
</body>
</html>
