{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}BaNaNaS{% endblock %}</h1>
{% endblock %}
{% block content %}

<p> BaNaNaS is a content service, which offers Base graphics/sound And Newgrfs And Noais And Scenarios. </p>
<p> All this content is available via both this webpage, and the OpenTTD game client. BaNaNaS allows easy access to the latest versions of those files for everyone. </p>
<p>
If you want to use BaNaNaS:
<ul>
<li> This is a volunteer project. Do not litter. </li>
<li> For downloading content, prefer using OpenTTD's build-in content downloader. But packages are also available for download on this page. </li>
<li> For uploading content: <ul>
    <li> Read our <a href="/manager/tos">terms of service</a>. This is no lawyer blah-blah. This is a volunteer project, please do not try to cheat the system. </li>
    <li> <a href="/login">Login via GitHub</a>. </li>
    <li> <a href="/manager">Upload updates or new content</a>. </li>
</ul></li>
</ul>
</p>

{% endblock %}
