{% extends 'base.html' %}
{% block title %}{{ version["name"] or package["name"] }} {{ version["version"] }}{% endblock %}
{% block header %}
<header>
    <h1><a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}">{{ version["name"] or package["name"] }}</a> {{ version["version"] }}</h1>
    <h3>{{ version["content-type"] }}/{{ version["unique-id"] }}/{{ version["upload-date"] }}</h3>
</header>
{% endblock %}
{% block content %}

<a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["upload-date"] }}/edit">Edit version meta data</a>
<table>
<tbody>
    <tr><th>Content Id</th><td>{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["md5sum-partial"] }}</td></tr>
    <tr><th>Name</th><td>{{ version["name"] or package["name"] }}</td></tr>
    <tr><th>Project site</th><td>
    {% set url = version["url"] or package["url"] %}
    {% if url %}
        <a href="{{ url }}" target="_blank">{{ url }}</a>
    {% endif %}
    </td></tr>
    <tr><th>Version</th><td>{{ version["version"] }}</td></tr>
    <tr><th>Upload date</th><td>{{ version["upload-date"] }}</td></tr>
    <tr><th>MD5 (partial)</th><td>{{ version["md5sum-partial"] }}</td></tr>
    <tr><th>License</th><td>{{ version["license"] }}</td></tr>
    <tr><th>Download availability</th><td>{{ version["availability"] }}</td></tr>
    <tr><th>Download</th>
    {% if version["download-url"] %}
        <td><a href="{{ version["download-url"] }}">{{ (version["filesize"] | int) // 1024 }} kB</a></td>
    {% else %}
        <td>Not available</td>
    {% endif %}
    </tr>
    <tr><th>Compatibility</th><td>
        <ul>
        {% for compat in version["compatibility"] %}
            <li>{{ compat["name"] }}: {{ compat["conditions"] | join(", ") }}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Dependencies</th><td>
        <ul>
        {% for dep in version["dependencies"] %}
           <li><a href="/package/{{ dep["content-type"] }}/{{ dep["unique-id"] }}/{{ dep["upload-date"] }}" target="_blank">{{ dep["name"] }} {{ dep["version"] }}</a></li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Tags</th><td>
        <ul>
        {% set tags = version["tags"] or package["tags"] %}
        {% for t in tags %}
            <li>{{ t }}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Authors</th><td>
        <ul>
        {% for a in package["authors"] %}
            <li>{{ a["display-name"] }}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Description</th><td>
    {% for l in (version["description"] or package["description"]).splitlines() %}
        {{ l }}<br/>
    {% endfor %}
    </td></tr>
</tbody>
</table>

{% endblock %}
