{% set selected_nav = "manager" %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ package["name"] }}{% endblock %}</h1>
{% endblock %}
{% block content %}

<p><a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}/edit">Edit package meta data</a></p>

<table class="package-details-table">
<tbody>
    <tr><th>Content Id</th><td>{{ package["content-type"] }}/{{ package["unique-id"] }}</td></tr>
    {% if package["versions"] and package["versions"][0]["classification"] %}
        <tr><th>Classification</th><td>
            <table class="classification-table">
            {% for key, value in package["versions"][0]["classification"].items() %}
                <tr>
                    <td>{{ key|title|replace("-", "") }}</td>
                    {% if value == True %}
                        <td>Yes</td>
                    {% elif value == False %}
                        <td>No</td>
                    {% else %}
                        <td>{{ value|replace("-", " ")|title }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        </td></tr>
    {% endif %}
    {% if package["regions"] %}
    <tr><th>Regions</th><td>
        <table class="classification-table">
            {% macro render_region(count, region) -%}
                {% if count != 0 %}
                /
                {% endif %}

                {{ globals.regions[region].name }}

                {% if globals.regions[region].parent %}
                    {{ render_region(count + 1, globals.regions[region].parent) }}
                {% endif %}
            {%- endmacro %}

            {% for region in package["regions"] %}
                <tr>
                    <td>{{ region }}</td><td>{{ render_region(0, region) }}</td>
                </tr>
            {% endfor %}
        </table>
    </td></tr>
    {% endif %}
    <tr><th>Name</th><td>{{ package["name"] }}</td></tr>
    <tr><th>Project site</th><td>
    {% if package["url"] %}
        <a href="{{ package["url"] }}" target="_blank">{{ package["url"] }}</a>
    {% endif %}
    </td></tr>
    <tr><th>Authors</th><td>
        <ul class="author-list">
        {% for a in package["authors"] %}
            <li>{{ a["display-name"] }}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Description</th><td>
    {% for l in package.get("description", "").splitlines() %}
        {{ l }}<br/>
    {% endfor %}
    </td></tr>
</tbody>
</table>

<hr />

<table id="bananas-table">
<thead>
    <tr class="header">
        <th>Version</th>
        <th>Upload date</th>
        <th>MD5 (partial)</th>
        <th>License</th>
        <th>Download availability</th>
        <th>Edit meta data</th>
    </tr>
</thead>
<tbody>
{% for version in package["versions"] %}
    <tr>
        <td><a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["upload-date"] }}">{{ version["version"] }}</a></td>
        <td>{{ version["upload-date"] }}</td>
        <td>{{ version["md5sum-partial"] }}</td>
        <td>{{ version["license"] }}</td>
        {% if version["availability"] == "new-games" %}
            <td>Available ingame</td>
        {% else %}
            <td>Only for savegames</td>
        {% endif %}
        <td><a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["upload-date"] }}/edit">Edit</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
<hr />
<a href="/manager/new-package">Upload update</a>

{% endblock %}
