{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Upload new package{% endblock %}</h1>
{% endblock %}
{% block content %}

<form method="post">
<input type="hidden" name="csrf_token" value={{ csrf_token }}/>
<h3>Step 1: Terms of service</h3>
<p>Please read our <a href="/manager/tos" target="_blank">terms of service</a>. This is no lawyer blah-blah. This is a volunteer project, please do not try to cheat the system.</p>
<p>
    <input type="checkbox" name="tos" value="accepted" {% if accept_tos %} checked {% endif %}/>
    <label for="tos">I confirm that I am one of the authors, and I have read and understood the <a href="/manager/tos" target="_blank">terms of service</a></label>
</p>

<h3>Step 2: Upload files</h3>
<ul>
{% for file in version["files"] %}
    <li>
        {{ file["filename"] }} ({{ (file["filesize"] | int) // 1024 }} kB)
        <button type="submit" name="delete_{{ file["uuid"] }}">Delete file</button>
        <ul>
        {% for error in file["errors"] %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
TODO choose file

<h3>Step 3: Complete the description</h3>
Note: Some of the info is filled automatically after uploading the files.

<table>
<tr><td>Content Id</td><td>{{ version["content-type"] }}/{{ version["unique-id"] }}/{{ version["md5sum-partial"] }}</td></tr>
<tr><td>Name</td><td>
    Enter the name of the package <b>without version number</b>. There is a separate entry for the version.
    {% if package %}Leave empty to use the name from the package.{% endif %}<br/>
    <input type="text" name="name" value="{{ version["name"] }}" placeholder="{{ package["name"] }}"/>
</td></tr>
<tr><td>Project site</td><td>
    {% if package %}Leave empty to use the URL from the package.{% endif %}<br/>
    <input type="url" name="url" value="{{ version["url"] }}" placeholder="{{ package["url"] }}"/>
</td></tr>
<tr><td>Version</td><td>
    <input type="text" name="version" value="{{ version["version"] }}"/>
</td></tr>
<tr><td>License</td><td>
    Unsure which license to pick? <a href="https://www.tt-forums.net/viewtopic.php?f=68&amp;t=55814" target="_blank">Look here</a><br/>
    <select name="license" value="{{ version["license"] }}">
    {% for license in licenses %}
        <option value="{{ license }}">{{ license }}</option>
    {% endfor %}
    </select>
</td></tr>
<tr><td>Download availability</td><td>
    <select name="availability" value="{{ version["availability"] }}">
        <option value="savegames-only">Savegames only</option>
        <option value="new-games">New games</option>
    </select>
</td></tr>
<tr><td>Compatibility</td><td>
    Enter version requirements like "&gt;= 1.2.0" or "&lt; 1.10.0".
    <table>
        <tr>
            <th>Branch</th>
            <th>Minimum requirement</th>
            <th>Maximum requirement</th>
        </tr>
        <tr>
        {% for c in compatibility %}
            <td>{{ c[0] }}</td>
            <td><input type="text" name="compatibility_{{ c[0] }}_min" value="{{ c[1] }}"/></td>
            <td><input type="text" name="compatibility_{{ c[0] }}_max" value="{{ c[2] }}"/></td>
        {% endfor %}
        </tr>
    </table>
</td></tr>
<tr><td>Dependencies</td><td>
{% if deps_editable %}
Enter one content-id per row. You can find the 'Content Id' on the version detail page of every content item.<br/>
<textarea name="dependencies" cols="30" rows="10">
{%- for dep in version["dependencies"] -%}
{{ dep["content-type"] }}/{{ dep["unique-id"] }}/{{ dep["md5sum-partial"] }}
{% endfor -%}
</textarea>
{% else %}
<ul>
{% for dep in version["dependencies"] %}
    <li><a href="/package/{{ dep["content-type"] }}/{{ dep["unique-id"] }}/{{ dep["upload-date"] }}" target="_blank">{{ dep["name"] }} {{ dep["version"] }}</a></li>
{% endfor %}
</ul>
{% endif %}
</td></tr>
<tr><td>Tags</td><td>Enter one tag per row{% if package %}, leave empty to use the tags from the package{% endif %}:<br/>
<textarea name="tags" cols="20" rows="10" placeholder="
{%- for t in package["tags"] -%}
{{ t }}
{% endfor -%}
">
{%- for t in version["tags"] -%}
{{ t }}
{% endfor -%}
</textarea></td></tr>
<tr><td>Description</td><td>
    {% if package %}Leave empty to use the description from the package.{% endif %}<br/>
<textarea name="description" cols="50" rows="20" placeholder="{{ package["description"] }}">
{{- version["description"] -}}
</textarea></td></tr>
</table>

<h3>Step 4: Validate and publish</h3>

{% if version["errors"] %}
Errors:
<ul>
{% for msg in version["errors"] %}
    <li>{{ msg }}</li>
{% endfor %}
</ul>
{% endif  %}

{% if version["warnings"] %}
Warnings:
<ul>
{% for msg in version["warnings"] %}
    <li>{{ msg }}</li>
{% endfor %}
</ul>
{% endif  %}

<button type="submit" name="validate">Validate</button>
<button type="submit" name="publish">Publish</button>

</form>

{% endblock %}
