{% set selected_nav = "manager" %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Upload new package{% endblock %}</h1>
{% endblock %}
{% block content %}

<form method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
<h3>Step 1: Terms of service</h3>
<p>Please read our <a href="/manager/tos" target="_blank">terms of service</a>. This is no lawyer blah-blah. This is a volunteer project, please do not try to cheat the system.</p>
<p>
    <input type="checkbox" name="tos" value="accepted" {% if accept_tos %} checked {% endif %}/>
    <label for="tos">I confirm that I am one of the authors, and I have read and understood the <a href="/manager/tos" target="_blank">terms of service</a></label>
</p>

<h3>Step 2: Upload files</h3>
<p>You can upload one or more files below. Additionally, you can upload a zip/tar; the folder structure will be maintained.</p>
<input type="hidden" name="removed_files" id="removed_files" value=""/>
<ul id="file_list"
    data-tus-url="{{ tus_url }}"
    data-upload-token="{{ upload_token }}">
{% for file in version["files"] %}
    <li data-filename="{{ file["filename"] }}" data-uuid="{{ file["uuid"] }}">
        {{ file["filename"] }} ({{ (file["filesize"] | int) // 1024 }} kB)
        <button type="button">Delete file</button>
        <ul>
        {% for error in file["errors"] %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
    <li id="more_files">
        <input type="file" multiple id="file_selector"/>
        <button type="button" id="start_upload">Add</button>
    </li>
</ul>

<h3>Step 3: Complete the description</h3>
<button type="submit" name="validate" id="autofill">Auto-fill</button> Some of the info can be filled automatically after uploading the files.

<table class="package-details-table">
<tr><th>Content Id</th><td>{{ version["content-type"] }}/{{ version["unique-id"] }}/{{ version["md5sum-partial"] }}</td></tr>
<tr><th>Name</th><td>
    <input type="text" name="name" value="{{ version["name"] }}" placeholder="{{ package["name"] }}"/><br/>
    <p id="input-desc">Enter the name of the package <b>without the version number</b>. There is a separate entry for the version.
    {% if package %}Leave empty to use the name from the package.{% endif %}</p>
</td></tr>
<tr><th>Project site</th><td>
    <input type="url" name="url" value="{{ version["url"] }}" placeholder="{{ package["url"] }}"/>
    <p id="input-desc">{% if package %}Leave empty to use the URL from the package.{% endif %}</p>
</td></tr>
<tr><th>Version</th><td>
    <input type="text" name="version" value="{{ version["version"] }}"/>
</td></tr>
<tr><th>License</th><td>
    <select name="license">
    {% if not version["license"] %}
        <option value="empty">Choose a license</option>
    {% endif %}
    {% for license in licenses %}
        <option value="{{ license["name"] }}" {% if version["license"] == license["name"] %}selected{% endif %}>{{ license["name"] }}</option>
    {% endfor %}
    </select>
    <p id="input-desc">Unsure which license to pick? <a href="https://www.tt-forums.net/viewtopic.php?f=68&amp;t=55814" target="_blank">Look here</a></p>
</td></tr>
<tr><th>Compatibility</th><td>
    <table>
        <tr>
            <!-- <th>Branch</th> -->
            <th>Minimum requirement</th>
            <th>Maximum requirement</th>
        </tr>
        <tr>
        {% for c in compatibility %}
            <!-- <td>{{ c[0]["description"] }}</td> -->
            <td><input type="text" name="compatibility_{{ c[0]["name"] }}_min" value="{{ c[1] }}"/></td>
            <td><input type="text" name="compatibility_{{ c[0]["name"] }}_max" value="{{ c[2] }}"/></td>
        {% endfor %}
        </tr>
    </table>
    <p id="input-desc">Enter version requirements like "&gt;= 1.2.0" or "&lt; 1.10.0"</p>
</td></tr>
<tr><th>Dependencies</th><td>
{% if deps_editable %}
<textarea name="dependencies" cols="50" rows="10">
{%- for dep in version["dependencies"] -%}
{{ dep["content-type"] }}/{{ dep["unique-id"] }}/{{ dep["md5sum-partial"] }}
{% endfor -%}
</textarea>
<p id="input-desc">Enter one content-id per row. You can find the 'Content Id' on the version detail page of every content item.</p>
{% else %}
<ul>
{% for dep in version["dependencies"] %}
    <li><a href="/package/{{ dep["content-type"] }}/{{ dep["unique-id"] }}/{{ dep["upload-date"] }}" target="_blank">{{ dep["name"] }} {{ dep["version"] }}</a></li>
{% endfor %}
</ul>
{% endif %}
</td></tr>
<tr><th>Tags</th><td>
<textarea name="tags" cols="20" rows="10" placeholder="
{%- for t in package["tags"] -%}
{{ t }}
{% endfor -%}
">
{%- for t in version["tags"] -%}
{{ t }}
{% endfor -%}
</textarea>
<p id="input-desc">Enter one tag per row{% if package %}, leave empty to use the tags from the package{% endif %}</p>
</td></tr>
<tr><th>Description</th><td>
    {% if package %}Leave empty to use the description from the package.<br/>{% endif %}
<textarea name="description" cols="50" rows="20" placeholder="{{ package["description"] }}">
{{- version["description"] -}}
</textarea></td></tr>
</table>

<h3>Step 4: Validate and publish</h3>

{% if version["errors"] %}
Errors:
<ul>
{% for msg in version["errors"] %}
    <li>{{ msg }}</li>
{% endfor %}
</ul>
{% endif  %}

{% if version["warnings"] %}
Warnings:
<ul>
{% for msg in version["warnings"] %}
    <li>{{ msg }}</li>
{% endfor %}
</ul>
{% endif  %}

<button type="submit" name="validate" id="validate">Validate</button>
<button type="submit" name="publish" id="publish">Publish</button>

</form>

<script src="/static/tus.min.js"></script>
<script src="/static/uploader.js"></script>

{% endblock %}
