{% set selected_nav = "manager" %}
{% extends 'base.html' %}
{% block title %}{{ version["name"] or package["name"] }} {{ version["version"] }}{% endblock %}
{% block header %}
    <h1><a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}">{{ version["name"] or package["name"] }}</a> {{ version["version"] }}</h1>
{% endblock %}
{% block content %}

<p><a href="/manager/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["upload-date"] }}/edit">Edit version meta data</a></p>

<table class="package-details-table">
<tbody>
    <tr><th>Content Id</th><td>{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["md5sum-partial"] }}</td></tr>
    {% if version["classification"] %}
        <tr><th>Classification</th><td>
            <table class="classification-table">
            {% for key, value in version["classification"].items() %}
                <tr>
                    <td>{{ key|title|replace("-", "") }}</td>
                    {% if value == True %}
                        <td>Yes</td>
                    {% elif value == False %}
                        <td>No</td>
                    {% else %}
                        <td>{{ value|replace("-", " ")|title }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        </td></tr>
    {% endif %}
    <tr><th>Name</th><td>{{ version["name"] or package["name"] }}</td></tr>
    <tr><th>Project site</th><td>
    {% set url = version["url"] or package["url"] %}
    {% if url %}
        <a href="{{ url }}" target="_blank">{{ url }}</a>
    {% endif %}
    </td></tr>
    <tr><th>Version</th><td>{{ version["version"] }}</td></tr>
    <tr><th>Upload date</th><td>{{ version["upload-date"] }}</td></tr>
    <tr><th>MD5 (partial)</th><td>{{ version["md5sum-partial"] }}</td></tr>
    <tr><th>License</th><td>{{ version["license"] }}</td></tr>
    <tr><th>Download availability</th><td>{{ version["availability"] }}</td></tr>
    <tr><th>Compatibility</th><td>
        <ul class="compatibility">
        {% for c in compatibility %}
        {% if c[1] or c[2] %}
            <li>{{ c[0]["description"] }}: {{ c[1] }}{% if c[1] and c[2] %}, {% endif %}{{ c[2] }}</li>
        {% endif %}
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Dependencies</th><td>
        <ul class="dependencies">
        {% for dep in version["dependencies"] %}
           <li><a href="/package/{{ dep["content-type"] }}/{{ dep["unique-id"] }}/{{ dep["upload-date"] }}" target="_blank">{{ dep["name"] }} {{ dep["version"] }}</a></li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Authors</th><td>
        <ul class="author-list">
        {% for a in package["authors"] %}
            <li>{{ a["display-name"] }}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Description</th><td>
    {% for l in (version["description"] or package["description"] or "").splitlines() %}
        {{ l }}<br/>
    {% endfor %}
    </td></tr>
</tbody>
</table>

{% endblock %}
