{% set selected_nav = package["content-type"] %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ package["name"] }}{% endblock %}</h1>
{% endblock %}
{% block content %}

{% if package.get("archived") %}
<p><b> This content is archived and is no longer available for new games. </b></p>
{% endif %}
{% if package.get("replaced-by") %}
<p><b> This content is deprecated. Please use <a href="/package/{{ package["replaced-by"]["content-type"] }}/{{ package["replaced-by"]["unique-id"] }}">{{ package["replaced-by"]["name"] }} ({{ package["replaced-by"]["unique-id"] }})</a> instead. </b></p>
{% endif %}

<table class="package-details-table">
<tbody>
    <tr><th>Content Id</th><td>{{ package["content-type"] }}/{{ package["unique-id"] }}</td></tr>
    <tr><th>Name</th><td>{{ package["name"] }}</td></tr>
    <tr><th>Project site</th><td>
    {% if package["url"] %}
       <a href="{{ package["url"] }}" target="_blank">{{ package["url"] }}</a>
    {% endif %}
    </td></tr>
    <tr><th>Tags</th><td>
        <ul class="tag-list">
    {% for t in package["tags"] %}
             <li>{{ t }}</li>
    {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Authors</th><td>
        <ul class="author-list">
    {% for a in package["authors"] %}
            <li>{{ a["display-name"] }}</li>
    {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Description</th><td>
    {% for l in package.get("description", "").splitlines() %}
        {{ l }}<br/>
    {% endfor %}
    </td></tr>
</tbody>
</table>

<table id="bananas-table">
<thead>
    <tr>
        <th>Version</th>
        <th>Upload date</th>
        <th>MD5 (partial)</th>
        <th>License</th>
        <th>Download</th>
    </tr>
</thead>
<tbody>
{% for version in package["versions"] %}
    <tr>
        <td><a href="/package/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ version["upload-date"] }}">{{ version["version"] }}</a></td>
        <td>{{ version["upload-date"] }}</td>
        <td>{{ version["md5sum-partial"] }}</td>
        <td>{{ version["license"] }}</td>
        {% if version["download-url"] %}
            <td><a href="{{ version["download-url"] }}">{{ (version["filesize"] | int) // 1024 }} kB</a></td>
        {% elif version["availability"] == "new-games" %}
            <td>Available ingame</td>
        {% else %}
            <td>Only for savegames</td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
