{% set selected_nav = content_type %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ globals.content_types[content_type].plural }}{% endblock %}</h1>
{% endblock %}
{% block content %}

<table id="bananas-table">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Project site</th>
        <th>Latest version</th>
        <th>Upload date</th>
        <th>License</th>
        <th>Download</th>
    </tr>
</thead>
<tbody>
{% for package in packages %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ package["unique-id"] }}</td>
        <td><a href="/package/{{ package["content-type"] }}/{{ package["unique-id"] }}">{{ package["name"] }}</a></td>
        <td>
        {% if package["url"] %}
            <a href="{{ package["url"] }}" target="_blank">{{ package["url"] }}</a>
        {% endif %}
        </td>
        {% if package["latest"] %}
            <td><a href="/package/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ package["latest"]["upload-date"] }}">{{ package["latest"]["version"] }}</a></td>
            <td>{{ package["latest"]["upload-date"] }}</td>
            <td>{{ package["latest"]["license"] }}</td>
            {% if package["latest"]["download-url"] %}
                <td><a href="{{ package["latest"]["download-url"] }}">{{ (package["latest"]["filesize"] | int) // 1024 }} kB</a></td>
            {% else %}
                <td>Available ingame</td>
            {% endif %}
        {% else %}
            <td></td><td></td><td></td><td>Not available</td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
