{% set selected_nav = content_type %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ globals.content_types[content_type].plural }}{% endblock %}</h1>
{% endblock %}
{% block content %}

<div class="filter" id="filter-anchor">
</div>

<script src="/static/filter.js"></script>

<table id="bananas-table">
<thead>
    <tr class="header">
        <th class="grf">Id</th>
        {% if content_type == "newgrf" %}
            <th class="set">Set</th>
        {% endif %}
        {% if content_type == "scenario" %}
            <th class="set">Climate</th>
        {% endif %}
        <th>Name</th>
        <th class="site">Project site</th>
        <th class="version">Latest version</th>
        <th class="date">Upload date</th>
        <th class="license">License</th>
    </tr>
</thead>
<tbody>
{% for package in packages %}
    {% if package["latest"] %}
        <tr
            {% if package["latest"]["classification"] %}
                {% for key, value in package["latest"]["classification"].items() %}
                    {% if value == True %}
                        data-{{ key }}="yes"
                    {% elif value == False %}
                        data-{{ key }}="no"
                    {% else %}
                        data-{{ key }}="{{ value }}"
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set regions = package["latest"]["regions"] or package["regions"] %}
            {% if regions %}
                {% macro render_region(index, count, region) -%}
                    data-region--{{index}}-{{ count }}="{{ globals.regions[region].name }}"

                    {% if globals.regions[region].parent %}
                        {{ render_region(index, count + 1, globals.regions[region].parent) }}
                    {% endif %}
                {%- endmacro %}

                {% for region in regions %}
                    {{ render_region(loop.index0, 0, region) }}
                {% endfor %}
            {% endif %}
            >
            <td>{{ package["unique-id"] }}</td>
            {% if content_type == "newgrf" %}
                {% if package["latest"]["classification"] %}
                    <td>{{ package["latest"]["classification"]["set"]|replace("-", " ")|title }}</td>
                {% else %}
                    <td>Unclassified</td>
                {% endif %}
            {% endif %}
            {% if content_type == "scenario" %}
                {% if package["latest"]["classification"] %}
                    <td>{{ package["latest"]["classification"]["climate"]|replace("-", " ")|title }}</td>
                {% else %}
                    <td>Unclassified</td>
                {% endif %}
            {% endif %}
            <td><a href="/package/{{ package["content-type"] }}/{{ package["unique-id"] }}">{{ package["name"] }}</a></td>
            <td>
            {% if package["url"] %}
                <a href="{{ package["url"] }}" target="_blank">Visit</a>
            {% endif %}
            </td>
            <td><a href="/package/{{ package["content-type"] }}/{{ package["unique-id"] }}/{{ package["latest"]["upload-date"] }}">{{ package["latest"]["version"] }}</a></td>
            <td>{{ package["latest"]["upload-date"] }}</td>
            <td>{{ package["latest"]["license"] }}</td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

{% endblock %}
