
.manager-table {
	font-size: 12px;
	table-layout: fixed;
	width: 738px;
}

.manager-table th {
	text-align: left;
	vertical-align: top;
	width: 120px;
}

.manager-table td {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
	text-align: left;
}

.depList {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
}

#bananas-table {
	font-size: 12px;
	width: 100%;
}

#bananas-table th {
	text-align: left;
	text-decoration: none;
}

#bananas-table td {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
	text-align: left;
	vertical-align: top;
}

#bananas-table tr {
	height: 20px;
}

#bananas-table tr:nth-child(odd) {
	background-color: #EEEEEE;
	transition: 0.5s;
}
#bananas-table tr:nth-child(even) {
	background-color: #f5f5f5;
	transition: 0.5s;
}
#bananas-table tr:nth-child(odd):hover, #bananas-table tr:nth-child(even):hover, #bananas-table tr:nth-child(odd):hover td, #bananas-table tr:nth-child(even):hover td {
	background-color: #dcdcdc;
}
#bananas-table tr.header {
	background-color: #cdcdcd;
	transition: 0.5s;
}

#bananas-table .name {
	width: 250px;
}
#bananas-table .type {
	width: 80px;
}
#bananas-table .version {
	width: 80px;
}
#bananas-table .grf {
	width: 70px;
}
#bananas-table .downloads {
	width: 70px;
}
#bananas-table .date {
	width: 160px;
}
#bananas-table .author {
	width: 70px;
}
#bananas-table .deps {
	width: 70px;
}
#bananas-table .site {
	width: 70px;
}
#bananas-table .license {
	width: 100px;
}
#bananas-table .set {
	width: 100px;
}

/* the package table declarations are repetitive and can possibly be consolidated, they were written in a situation where JFDI > DRY */
.package-details-table {
    width: 100%;
}
.package-details-table th {
    width: 150px;
    vertical-align: top;
    padding-top: 7px;
    padding-bottom: 7px;
}
.package-details-table .tag-list {
    margin: 0;
    padding: 0;
}
.package-details-table .tag-list li {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid 1px #ddd;
}
.package-details-table .author-list {
    margin: 0;
    padding: 0;
}
.package-details-table .author-list li {
    list-style-type: none;
}
.package-details-table .compatibility {
    margin: 0 0 0 13px;
    padding: 0;
}
.package-details-table .dependency {
    margin: 0 0 0 13px;
    padding: 0;
}

.classification-table td:nth-child(1) {
	font-weight: bold;
	width: 150px;
}

.filter {
	display: none;
	padding-bottom: 12px;
}
.filter label {
	display: inline-block;
	width: 120px;
}
.filter select {
	margin-bottom: 6px;
	width: 150px;
}

.region-search {
	margin-left: 10px;
	vertical-align: top;
}

.region-search > ul {
	display: inline-block;
	height: 170px;
	margin: 0;
	overflow: auto;
}
.region-search > ul > li {
	cursor: pointer;
	text-decoration: underline;
}
