*, :before, :after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	font-size: 1em;
	font-family: sans-serif;
}

/* set common rules for the first level elements inside body (nav, header, main, footer) */
body > * {
	margin: 0;
	padding: 0.25em 0.5em;
	padding: 0.25rem 0.5rem;
}

/* page header and its descendant elements */
body > header > * {
	margin: 0.5em 0;
	margin: 0.5rem 0;
	padding: 0;
}
body > header > *:last-child {
	margin-bottom: 0;
}
body > header h1 {
	font-size: 1.5em;
}
body > header p {
	font-weight: bold;
}
